.container {
    margin-top: 100px;
}

.cart {
    margin-top: 50px;
}

.image-detail img {
    width: 500px;

}

.quanlity {
    margin-top: 2rem;
}

.buttons_added {
    display: flex;
    align-items: center;
}

.buttons_added input {
    width: 2rem;
    height: 2rem;
    padding: 0;
    text-align: center;
    border: 1px solid #ced4da;
    border-radius: 0;
}

.buttons_added .input-qty {
    width: 3rem;
    height: 2rem;
    border: none;
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    padding: 0.25rem;
    text-align: center;
    font-size: 1rem;
}

.buttons_added .minus,
.buttons_added .plus {
    font-weight: bold;
    cursor: pointer;
}

.buttons_added .minus {
    border-radius: 0 0 0 4px;
}

.buttons_added .plus {
    border-radius: 0 0 4px 0;
}


.image-detail {
    position: relative;
}

.image-detail .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Màu nền overlay */
    display: none;
    /* Ban đầu ẩn overlay */
    align-items: center;
    justify-content: center;
    z-index: 999;
    /* Đảm bảo overlay hiển thị trên các phần tử khác */
}

.image-detail:hover .overlay {
    display: flex;
    /* Hiển thị overlay khi hover vào ảnh */
    cursor: pointer;
}

.image-detail .overlay img {
    max-width: 100%;
    max-height: 100%;
}

.btn {
    background-color: #B22830;
    color: white;
    border-radius: 20px;
    width: 100px;
}