<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
  <div class="container h-100 animate__animated animate__fadeInUp">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <!-- <h1 class="fw-bolder text-white">iPhone 14 Pro Max 1TB</h1>
          <p class="lead">A great starter layout for a landing page</p> -->
      </div>
    </div>
  </div>
</header>
<!-- Page Content -->
<section class="py-5">
  <div class="container">
    <h2 class="fw-light">All Product</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus ab
      nulla dolorum autem nisi officiis blanditiis voluptatem hic, assumenda
      aspernatur facere ipsam nemo ratione cumque magnam enim fugiat
      reprehenderit expedita.
    </p>
  </div>
</section>
<section id="home-section">
  <div class="container">
    <div class="row">
      <div class="col-4" *ngFor="let product of products">
        <div class="card" style="width: 18rem" (click)="viewProductDetail(product)">
          <div class="card-body">
            <a [routerLink]="['/products', product.id]">
              <img [src]="product.imgUrl" alt="" class="card-img-top" />
            </a>
            <h5 class="card-title">{{ product.name }}</h5>
            <h6 class="card-title">Brand: {{ product.brand }}</h6>
            <p class="card-text">Giá: {{ product.price }}</p>
            <!-- pipes -->
            <a href="#" class="btn btn-primary">Buy</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>