<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <!-- <h1 class="fw-bolder text-white">iPhone 14 Pro Max 1TB</h1>
          <p class="lead">A great starter layout for a landing page</p> -->
      </div>
    </div>
  </div>
</header>

<h3 class="text-center title-product-sale">Sale Products</h3>
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide *ngFor="let product of pagedProducts">
    <div class="container card col-3 mb-4 card-product" style="width: 20rem">
      <div class="card-body">
        <img [src]="product.imgUrl" alt="" class="card-img-top my-4" />
        <a [routerLink]="['/products', product.id]" class="home-link-product-detail"
          (click)="viewProductDetail(product)">
          <h5 class="card-title">{{ product.name }}</h5>
        </a>
        <h6 class="card-title">Brand: {{ product.brand }}</h6>
        <p class="card-text price">{{ product.price }} $</p>

      </div>
    </div>
  </ng-template>

</owl-carousel-o>

<section id="home-section">
  <div class="container">
    <h3 class="text-center title-product-sale">All Products</h3>

    <div class="row">
      <div class="col-3 mb-4" *ngFor="let product of pagedProducts">
        <div class="card" style="width: 18rem" (click)="viewProductDetail(product)">
          <div class="card-body">
            <a [routerLink]="['/products', product.id]" class="home-link-product-detail">
              <img [src]="product.imgUrl" alt="" class="card-img-top my-4" />
              <h5 class="card-title">{{ product.name }}</h5>
            </a>
            <h6 class="card-title">Brand: {{ product.brand }}</h6>
            <p class="card-text price">{{ product.price }} $</p>
            <!-- pipes -->
            <a href="#" class="btn ">Buy</a>
          </div>
        </div>
      </div>
    </div>

    <div class="pagination">
      <button class="page-link" [disabled]="currentPage === 1" (click)="goToPage(currentPage - 1)">Previous</button>
      <button class="page-link" *ngFor="let page of getPageNumbers()" [class.active]="page === currentPage"
        (click)="goToPage(page)">{{ page }}</button>
      <button class="page-link" [disabled]="currentPage === totalPages"
        (click)="goToPage(currentPage + 1)">Next</button>
    </div>


  </div>
</section>